<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  <script defer src="assets/scripts/main.js"></script>
</head>
<body>
  <div id="app">
    <h2>Bitcoin Price</h2>
    <section v-if="hasError">
      Error.
    </section>
    <section v-else>
      <div v-if="loading">
        Loading...
      </div>
      <div v-else>
        <ul v-cloak>
          <li v-for="(rate, currency) in bpi">
            {{ currency }}: {{ rate.rate_float | currencyDecimal }}
          </li>
        </ul>
      </div>
    </section>
  </div>
</body>
</html>